.tableContainer{
  margin-top: 50px;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  border-collapse: collapse;
  max-width: fit-content;
}

.tableContainer table thead tr{
  background-color: #a3d5e7;
  
}
.tableContainer table thead tr th,
.tableContainer table tbody tr td{
  min-width: 200px;
  padding: 9px;
  text-align: center;
  border: 1px solid black;
}

.container{
  padding: 10px;
  /* background-color: rgb(214, 124, 223); */
  max-width: fit-content;
  margin:50px auto;
}

/* input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

td {
  position: relative;
} */

.btn{
  border:none;
  padding: 6px 13px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  color:white;
}
.btn-add{
  background: #22a035;
  /* margin-left: 145px; */
  width: 250px;
}
.btn-update{
  background-color: #251273;
  /* color: white; */
}
.btn-delete{
  background-color: #fa1717;
  /* color:white; */
}
.btn-update,
.btn-fetch,
.btn-delete{
  font-size: 16px;
  padding: 5px 10px;
  margin:0px 10px;
}
.btn-fetch{
  background-color: rgb(255, 0, 221);
}

.card {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
  max-width: 250px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
}

td{
  text-align: center;
}

html{
  overflow-y: scroll;
}

#id1{
  width: 15px;
}
